{{- if .Values.monitoring.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 9090
  selector:
    app: prometheus
{{- end }}
