replicaCount: 1
auth:
  image:
    repository: ghcr.io/csu-itmo-2025-2/team5-auth
    tag: "sha-4589b1c"
ml:
  image:
    repository: ghcr.io/csu-itmo-2025-2/team5-ml
    tag: "sha-4589b1c"
producer:
  image:
    repository: ghcr.io/csu-itmo-2025-2/team5-producer
    tag: "sha-4589b1c"
# imagePullSecrets:
#   - name: ghcr-secret
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  ports:
    - name: auth
      port: 8000
    - name: ml
      port: 7070
    - name: producer
      port: 5050
ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: team5.kubepractice.ru
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - team5.kubepractice.ru
      secretName: team5-prod-secret
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
databaseSecretName: "db-credentials"
kafka:
  enabled: true
  replicaCount: 1
  auth:
    clientProtocol: plaintext
    interBrokerProtocol: plaintext
  zookeeper:
    replicaCount: 1
    auth:
      client:
        clientPassword: ""
        serverPassword: ""
        secrets: ""
  service:
    type: ClusterIP
    port: 9092
  persistence:
    enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

env:
  KAFKA_BOOTSTRAP_SERVERS: "team5-app-kafka:9092"
