replicaCount: 1
auth:
  image:
    repository: ghcr.io/csu-itmo-2025-2/team5-auth
    tag: "sha-4589b1c"
ml:
  image:
    repository: ghcr.io/csu-itmo-2025-2/team5-ml
    tag: "sha-4589b1c"
producer:
  image:
    repository: ghcr.io/csu-itmo-2025-2/team5-producer
    tag: "sha-4589b1c"
# imagePullSecrets:
#   - name: ghcr-secret
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  ports:
    - name: auth
      port: 8000
    - name: ml
      port: 7070
    - name: producer
      port: 5050
ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: team5.kubepractice.ru
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - team5.kubepractice.ru
      secretName: team5-prod-secret
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
databaseSecretName: "db-credentials"
env: {}
zookeeper:
  enabled: true
  image:
    repository: bitnami/zookeeper
    tag: 3.9.2
  service:
    port: 2181
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
kafka:
  enabled: true
  image:
    repository: bitnami/kafka
    tag: 3.7.0
  service:
    port: 9092
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 250m
      memory: 512Mi
