apiVersion: v1
kind: ConfigMap
metadata:
  name: adapter-config
  labels:
    app: prometheus-adapter
data:
  config.yaml: |
    rules:
    - seriesQuery: 'kafka_server_brokertopicmetrics_messagesinpersec_count{namespace="{{ .Release.Namespace }}",pod=~"my-cluster-kafka-.*"}'
      resources:
        overrides:
          namespace: {resource: "namespace"}
          pod: {resource: "pod"}
      name:
        matches: "^kafka_server_brokertopicmetrics_messagesinpersec_count"
        as: "kafka_messages_in_per_sec"
      metricsQuery: 'sum by (<<.GroupBy>>) (kafka_server_brokertopicmetrics_messagesinpersec_count{<<.LabelMatchers>>})'
    
    - seriesQuery: 'kafka_consumer_consumerlagmetrics_lag{namespace="{{ .Release.Namespace }}",pod=~"my-cluster-kafka-.*"}'
      resources:
        overrides:
          namespace: {resource: "namespace"}
          pod: {resource: "pod"}
      name:
        matches: "^kafka_consumer_consumerlagmetrics_lag"
        as: "kafka_consumer_lag"
      metricsQuery: 'sum by (<<.GroupBy>>) (kafka_consumer_consumerlagmetrics_lag{<<.LabelMatchers>>})'
    
    - seriesQuery: 'kafka_server_brokertopicmetrics_bytesinpersec_count{namespace="{{ .Release.Namespace }}",pod=~"my-cluster-kafka-.*"}'
      resources:
        overrides:
          namespace: {resource: "namespace"}
          pod: {resource: "pod"}
      name:
        matches: "^kafka_server_brokertopicmetrics_bytesinpersec_count"
        as: "kafka_bytes_in_per_sec"
      metricsQuery: 'sum by (<<.GroupBy>>) (kafka_server_brokertopicmetrics_bytesinpersec_count{<<.LabelMatchers>>})'
    
    - seriesQuery: 'kafka_server_replicamanager_partitioncount{namespace="{{ .Release.Namespace }}",pod=~"my-cluster-kafka-.*"}'
      resources:
        overrides:
          namespace: {resource: "namespace"}
          pod: {resource: "pod"}
      name:
        matches: "^kafka_server_replicamanager_partitioncount"
        as: "kafka_partition_count"
      metricsQuery: 'sum by (<<.GroupBy>>) (kafka_server_replicamanager_partitioncount{<<.LabelMatchers>>})'
