apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-adapter
  labels:
    app: prometheus-adapter
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: prometheus-adapter
  labels:
    app: prometheus-adapter
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - nodes/stats
  - services
  - endpoints
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - "extensions"
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: prometheus-adapter
  labels:
    app: prometheus-adapter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: prometheus-adapter
subjects:
- kind: ServiceAccount
  name: prometheus-adapter
  namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-adapter
  labels:
    app: prometheus-adapter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-adapter
  template:
    metadata:
      labels:
        app: prometheus-adapter
    spec:
      serviceAccountName: prometheus-adapter
      containers:
        - name: prometheus-adapter
          image: k8s.gcr.io/prometheus-adapter/prometheus-adapter:v0.11.0
          args:
            - --cert-dir=/var/run/serving-cert
            - --config=/etc/adapter/config.yaml
            - --logtostderr=true
            - --prometheus-url=http://prometheus.{{ .Release.Namespace }}.svc.cluster.local:9090/
            - --metrics-relist-interval=1m
            - --v=4
            - --secure-port=6443
            - --tls-cert-file=/var/run/serving-cert/tls.crt
            - --tls-private-key-file=/var/run/serving-cert/tls.key
            - --external-only
            - --external-labels=namespace={{ .Release.Namespace }}
          volumeMounts:
            - mountPath: /etc/adapter
              name: config
            - mountPath: /var/run/serving-cert
              name: serving-cert
              readOnly: true
          ports:
            - containerPort: 6443
              name: https
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 100m
      volumes:
        - name: config
          configMap:
            name: adapter-config
        - name: serving-cert
          secret:
            secretName: adapter-serving-cert
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-adapter
  labels:
    app: prometheus-adapter
spec:
  selector:
    app: prometheus-adapter
  ports:
    - name: https
      port: 443
      targetPort: 6443
  type: ClusterIP
---
