{{- if .Values.ingress.enabled -}}
{{- $fullName := include "team5-app.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "team5-app.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.hosts | first | dig "host" | quote }}
      http:
        paths:
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8000
          - path: /ml
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 7070
          - path: /producer
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 5050
{{- end }}