apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: ml-service
  template:
    metadata:
      labels:
        app: ml-service
    spec:
      containers:
        - name: ml-service
          image: "{{ .Values.ml.image.repository }}:{{ .Values.ml.image.tag }}"
          ports:
            - containerPort: 7070
          envFrom:
            - secretRef:
                name: team5-secret
          readinessProbe:
            httpGet:
              path: /docs
              port: 7070
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /docs
              port: 7070
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
