{{- if .Values.monitoring.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: {{ .Release.Namespace }}
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
{{- range .Values.monitoring.scrapeTargets }}
      - job_name: "{{ . }}"
        static_configs:
          - targets: ["{{ . }}"]
{{- end }}
{{- end }}
